---
import ResumeLayout from '~/layouts/Resume.astro'
import Main from '~/components/resume/Main.astro';
import Section from '~/components/resume/Section.astro';
import EmploymentCard from '~/components/resume/EmploymentCard.astro';
import EmploymentCardEntry from '~/components/resume/EmploymentCardEntry.astro';
import ChronologyItem from '~/components/resume/ChronologyItem.astro';
import H1 from '~/components/resume/H1.astro';
import H2 from '~/components/resume/H2.astro';
import H3 from '~/components/resume/H3.astro';
import Badge from '~/components/resume/Badge.astro';

import profilePicture from '~/img/profile.jpg'
import { Picture } from 'astro:assets'
---
<ResumeLayout>
    <Main>
        <div class="flex flex-col items-center pt-4">
            <H1 css_class="underline">
                <Fragment>
                    Jorge L贸pez Tello
                </Fragment>
            </H1>
            <div class="flex flex-col lg:grid lg:grid-cols-3">
                <div class="flex flex-col print:order-2">
                    <Section css_class="print:order-1">
                        <H2 css_class="pb-2 p-0">Informaci贸n de contacto</H2>
                        <ul class="pb-3">
                            <li> Toledo, Espa帽a</li>
                            <li> <a class="underline text-blue-600 visited:text-purple-600"
                                     href="https://ltdjorge.com">https://ltdjorge.com</a></li>
                            <li>锔 <a class="underline text-blue-600 visited:text-purple-600"
                                      href="https://github.com/LtdJorge">github.com/LtdJorge</a></li>
                            <li>锔 <a class="underline text-blue-600 visited:text-purple-600"
                                      href="https://gitlab.com/LtdJorge">gitlab.com/LtdJorge</a></li>
                            <li> <a class="underline text-blue-600 visited:text-purple-600"
                                     href="mailto:me@ltdjorge.com">me@ltdjorge.com</a></li>
                        </ul>
                    </Section>
                    <div class="hidden print:block print:mb-8 print:order-2" />
                    <Section css_class="order-3">
                        <H2 css_class="pb-2">
                            Educaci贸n y certificaciones
                        </H2>
                        <EmploymentCard>
                            <Fragment>
                                <EmploymentCardEntry>
                                    <Fragment slot="name">
                                        Escuela de Organizaci贸n Industrial
                                    </Fragment>
                                    <Fragment slot="items">
                                        <ChronologyItem dates="2021">
                                            <Fragment slot="label">
                                                Curso de E-Commerce y Marketing Digital, Comercio electr贸nico
                                                <Badge color="amber">Tecnolog铆as web</Badge>
                                            </Fragment>
                                            <Fragment slot="description">
                                                Implementaci贸n como proyecto final de una aplicaci贸n web totalmente <i>dockerizada</i>, sirviendo
                                                como repositorio web sobre especificaciones de ordenadores port谩tiles y como motor de filtrado.
                                                Frontend en Nuxt 2 y backend con Strapi, con MariaDB como almacenamiento y MeiliSearch como motor de
                                                b煤squeda y filtrado en tiempo real.<br>
                                                Incluido tambi茅n el plan de negocio completo para el proyecto, con an谩lisis de la competencia y
                                                estudio de m谩rketing.
                                            </Fragment>
                                        </ChronologyItem>
                                    </Fragment>
                                </EmploymentCardEntry>
                                <EmploymentCardEntry>
                                    <Fragment slot="name">
                                        CampusFP Emprende
                                    </Fragment>
                                    <Fragment slot="items">
                                        <ChronologyItem dates="octubre 2022 - septiembre 2024">
                                            <Fragment slot="label">
                                                T茅cnico superior en Animaci贸n 3D, videojuegos y entornos interactivos
                                            </Fragment>
                                            <Fragment slot="description">
                                                Creaci贸n de una visualizaci贸n arquitect贸nica realista de una vivienda completa, con enfoque en el
                                                interior. Usados 3D Max para modelado, Substance Painter/Designer para texturizado y SpeedTree para
                                                vegetaci贸n. Finalmente armado en Unity y hecho interactivo con C#, con iluminaci贸n pre-renderizada
                                                para aumentar el rendimiento (escena est谩tica).
                                            </Fragment>
                                        </ChronologyItem>
                                    </Fragment>
                                </EmploymentCardEntry>
                                <EmploymentCardEntry>
                                    <Fragment slot="name">
                                        NVIDIA DLI + Universidad de M谩laga
                                    </Fragment>
                                    <Fragment slot="items">
                                        <ChronologyItem dates="2020">
                                            <Fragment slot="label">
                                                Fundamentals of Deep Learning for Computer Vision
                                                <Badge color="blue">Python</Badge>
                                                <Badge color="emerald">RAPIDS</Badge>
                                            </Fragment>
                                            <Fragment slot="description">
                                                Impartido por Manuel Ujald贸n. Certificaci贸n entregada por NVIDIA.
                                            </Fragment>
                                        </ChronologyItem>
                                        <ChronologyItem dates="2020">
                                            <Fragment slot="label">
                                                Fundamentals of accelerated computing with CUDA C/C++
                                                <Badge color="rose">C/C++</Badge>
                                            </Fragment>
                                            <Fragment slot="description">
                                                Impartido por Manuel Ujald贸n. Certificaci贸n entregada por NVIDIA.
                                            </Fragment>
                                        </ChronologyItem>
                                    </Fragment>
                                </EmploymentCardEntry>
                                <EmploymentCardEntry>
                                    <Fragment slot="name">
                                        CampusFP Emprende
                                    </Fragment>
                                    <Fragment slot="items">
                                        <ChronologyItem>
                                            <Fragment slot="label">
                                                C1 Advanced
                                                <Badge color="yellow">English</Badge>
                                            </Fragment>
                                            <Fragment slot="description">
                                                201 puntos - sobresaliente (nivel CEFR C2)
                                            </Fragment>
                                        </ChronologyItem>
                                        <ChronologyItem>
                                            <Fragment slot="label">
                                                B2 First
                                                <Badge color="yellow">English</Badge>
                                            </Fragment>
                                            <Fragment slot="description">
                                                176 puntos - notable
                                            </Fragment>
                                        </ChronologyItem>
                                    </Fragment>
                                </EmploymentCardEntry>
                            </Fragment>
                        </EmploymentCard>
                    </Section>
                </div>
                <div class="flex flex-col print:order-1">
                    <Section css_class="">
                        <H2 css_class="pb-2">
                            Experiencia laboral
                        </H2>
                        <EmploymentCard>
                            <Fragment>
                                <EmploymentCardEntry>
                                    <Fragment slot="name">
                                        Sabio Espa帽a
                                    </Fragment>
                                    <Fragment slot="items">
                                        <ChronologyItem dates="octubre 2022 - septiembre 2024">
                                            <Fragment slot="label">
                                                Genesys PureEngage Technical Support
                                            </Fragment>
                                            <Fragment slot="description">
                                                Tarea principal:
                                                <br>
                                                <p class="pl-2">
                                                    T茅cnico dedicado para cliente de Telef贸nica Soluciones tanto en
                                                    Espa帽a como Gran Breta帽a, trabajando en remoto.
                                                    <br>
                                                    Principalmente trabajando con servicios de Engage, ServiceNow e
                                                    hilos de correo con cliente.
                                                    Otras veces con NICE Engage y WFM, SAP BO y Oracle DBMS.
                                                </p>
                                                <br>
                                                Al ser ofrecido como apoyo a compa帽eros en otro cliente:
                                                <br>
                                                <p class="pl-2">
                                                    Uso de la API PureCloud y herramientas de l铆nea de comando como
                                                    <i>cURL</i> y <i>jq</i> para filtrar, listar y estrechar la b煤squeda
                                                    de cientos de usuarios con una combinaci贸n de rol/divisi贸n err贸nea,
                                                    corrigi茅ndolos despu茅s.
                                                </p>
                                            </Fragment>
                                        </ChronologyItem>
                                        <ChronologyItem dates="marzo 2022 - octubre 2022">
                                            <Fragment slot="label">
                                                Service Desk Engineer
                                            </Fragment>
                                            <Fragment slot="description">
                                                Soporte de soluciones telef贸nicas en equipo rotativo 24x7. Genesys
                                                PureEngage, PureConnect, NICE Engage para m煤ltiples clientes.
                                            </Fragment>
                                        </ChronologyItem>
                                    </Fragment>
                                </EmploymentCardEntry>
                            </Fragment>
                        </EmploymentCard>
                        <EmploymentCard>
                            <Fragment>
                                <EmploymentCardEntry>
                                    <Fragment slot="name">
                                        Grupo Hotel Comendador
                                    </Fragment>
                                    <Fragment slot="items">
                                        <ChronologyItem dates="septiembre 2018 - presente">
                                            <Fragment slot="label">
                                                Administrador web
                                            </Fragment>
                                            <Fragment slot="description">
                                                Despliegue y mantenimiento de la nueva web, para edici贸n por equipo no
                                                t茅cnico. Digital Ocean, Ubuntu Server LTS, Nginx, PHP-FPM, MariaDB,
                                                Wordpress y Cloudflare.
                                            </Fragment>
                                        </ChronologyItem>
                                        <ChronologyItem dates="enero 2017 - octubre 2017">
                                            <Fragment slot="label">
                                                T茅cnico de mantenimiento
                                            </Fragment>
                                            <Fragment slot="description">
                                                Mantenimiento general de instalaciones, incluyendo jardines, maquinaria SPA y equipos de IT.
                                            </Fragment>
                                        </ChronologyItem>
                                        <ChronologyItem dates="2014 - 2019">
                                            <Fragment slot="label">
                                                Cocina y almac茅n para eventos
                                            </Fragment>
                                            <Fragment slot="description">
                                                Inicialmente log铆stica de mercader铆as. Despu茅s, apoyo general en cocina.
                                                Finalmente, cocinero dedicado en parrilla de carb贸n para restaurante.
                                            </Fragment>
                                        </ChronologyItem>
                                    </Fragment>
                                </EmploymentCardEntry>
                            </Fragment>
                        </EmploymentCard>

                    </Section>
                </div>
                <div class="flex flex-col print:order-4">
                    <Section css_class="print:order-1">
                        <H2 css_class="pb-2">
                            Habilidades t茅cnicas
                        </H2>
                        <div>
                            <div>
                                <Badge color="orange">Rust</Badge>
                                <Badge color="yellow">JavaScript & TypeScript</Badge>
                                <Badge color="rose">C/C++</Badge>
                                <Badge color="sky">Postgres</Badge>
                            </div>
                            <div>
                                <Badge color="violet">Ansible + Terraform</Badge>
                                <Badge color="blue">Linux and Windows administration</Badge>
                                <Badge color="amber">Web technologies</Badge>
                            </div>
                            <div>

                                <Badge color="orange">Video-games and 3D</Badge>
                                <Badge color="green">GPU programming</Badge>
                                <Badge color="zinc">Command line tools</Badge>
                            </div>
                            <div>
                                <Badge color="fuchsia">L2/L3 Networks</Badge>
                                <Badge color="slate">POSIX</Badge>
                            </div>
                        </div>
                    </Section>
                    <div class="hidden print:block print:mb-2 print:order-2" />
                    <Section css_class="print:order-3">
                        <H2 css_class="pb-2">
                            Otros intereses
                        </H2>
                        <div>
                            <H3>
                                Homelab
                            </H3>
                            <p>
                                Construida una red L3 de 10Gb sobre fibra 贸ptica OM4 casi en su totalidad, con un par de
                                servidores, dos routers, tres switches y dos AP.
                                Todos los servicios (DNS, DHCP, bloqueo de anuncios) est谩n virtualizados sobre Proxmox.
                                El hipervisor est谩 conectado al servidor de almacenamiento con un cable DAC de 40Gb.
                                Una segunda red L2 sirve de red de administraci贸n. conectada a interfaces de administraci贸n
                                dedicadas, sin emplear routers, solo mediante switches y direcciones IP est谩ticas,
                                aunque usando como punto de acceso remoto un router en m谩quina virtual (VPN Tailscale).
                            </p>
                            <H3 css_class="pt-2">
                                Inform谩tica
                            </H3>
                            <p>
                                Inter茅s particular en motores de consulta de databases distribuidas y almacenamiento en
                                columnas, videojuegos en red de escala masiva, desarrollo de sistemas operativos y
                                estructuras de datos concurrentes sin bloqueo.
                            </p>
                            <H3 css_class="pt-2">
                                Ops
                            </H3>
                            <p>
                                Construcci贸n de arquitecturas escalables y mantenibles para despliegue y entrega de
                                software fiable. Eliminaci贸n de puntos 煤nicos de fallo, servidores en clusteres distribuidos,
                                testeo y despliegue automatizado, etc.
                            </p>
                            <H3 css_class="pt-2">
                                Observabilidad
                            </H3>
                            <p>
                                Ganar un conocimiento profundo sobre el comportamiento y rendimiento del software en la
                                pr谩ctica solo se puede conseguir haci茅ndolo observable:
                            </p>
                            <ul class="pl-4">
                                <li class="list-disc">
                                    L谩s m茅tricas ofrecen una vista del rendimiento del sistema.
                                </li>
                                <li class="list-disc">
                                    Los logs proporcionan un contexto detallado sobre qu茅 evento ocurri贸 en un momento
                                    determinado, en orden cronol贸gico.
                                </li>
                                <li class="list-disc">
                                    Las trazas (distribuidas) describen la cadena de eventos que el sistema fue emitiendo
                                    hasta llegar a un punto espec铆fico, lo que ofrece un mayor detalle que los logs,
                                    pero con menor frecuencia de muestreo.
                                </li>
                            </ul>
                        </div>
                    </Section>
                </div>
                <div class="row-start-2 row-end-2 col-start-2 col-end-2 flex justify-center items-center">
                    <Picture src={profilePicture} alt="Profile picture" width="256" height="256" class="h-64 w-64 rounded-full" />
                </div>
            </div>
        </div>
    </Main>
</ResumeLayout>
